
* {
  font-family: "Century Gothic", sans-serif;
}

table {
  table-layout: fixed;
  width: 800px;
  height: 400px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
}

h1 {
  color: black;
  background-image: url('pattern.webp');
  font-size: 50px;
  font-weight: bold;
  text-align: left;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: black;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.weeks_list {
  margin-top: 10px;
}

.block {
  display: none;
}

#title_tr {
  background-color: Azure;
}

#chemistry {
    margin-left: 17px;
}

#title_background {
  background-color: Aqua;
  color: blue;
}

#blue_text {
  color: blue;
  font-weight: bold;
}

p,
li {
  font-size: 18px;
}

a {
  text-decoration: none;
}
